@using Services.Metrics.Models;

<div class="row">
    @if (actions == null)
    {
        <div class="col">
            ... loading ...
        </div>
    }
    else
    {
        var action = actions[(int)Action_Type_Id.SignEcdsa];
        <div class="col">            
            Signing: @action.distinct_count 
            <label class="text-secondary"> / @action.count </label>
            <label class="text-warning"> / @action.error_count </label>
        </div>
        action = actions[(int)Action_Type_Id.DKG];
        <div class="col">
            DKG:  @action.distinct_count 
            <label class="text-secondary"> / @action.count </label>
            <label class="text-warning"> / @action.error_count </label>
        </div>
        action = actions[(int)Action_Type_Id.BeaverTriple];
        <div class="col">
            Triples:  @action.distinct_count 
            <label class="text-secondary"> / @action.count </label>
            <label class="text-warning"> / @action.error_count </label>
        </div>
    }

</div>

@code {
    [Parameter]
    public List<ActiveActions>? actions { get; set; }
  
}
   